@font-face {
	font-family: "Work Sans";
	src: url("/assets/fonts/Work_Sans/WorkSans-Regular.ttf");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: "Work Sans";
	src: url("/assets/fonts/Work_Sans/WorkSans-Regular.ttf");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Work Sans";
	src: url("/assets/fonts/Work_Sans/WorkSans-Bold.ttf");
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: "Work Sans";
	src: url("/assets/fonts/Work_Sans/WorkSans-Bold.ttf");
	font-weight: bold;
}
@font-face {
	font-family: "Work Sans";
	src: url("/assets/fonts/Work_Sans/WorkSans-SemiBold.ttf");
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: "Work Sans";
	src: url("/assets/fonts/Work_Sans/WorkSans-SemiThin.ttf");
	font-weight: 600;
	font-style: normal;
}
